# Secrets
.env
client_secret.json
youtube_token.json

# Data
data/
logs/
assets/fonts/

# Python
venv/
__pycache__/
*.pyc
*.pyo

# Media
*.mp4
*.mp3
*.png
data/broll/
data/videos/
data/broll/

# DB
*.db
backups/
